:root{
	--primary-color: #9792E4;
	--backgroud: #B5DDFF;
	--text-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid {
        --gapx: 1rem;
        --gapy: 2rem;
}

.container {
    display: flex;
    margin: auto;
    max-width: 800px;
    height: 100%;
}

.container-menu {
    padding: 1rem;
    border-radius: 3rem;
}

/* HEADER */

header {
    background-color: #0084FD;
    height: 70px;
}

header .container {
    align-items: center;
    justify-content: space-between;
}

.navbar {
    text-align: auto;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu div {
    margin-left: 1rem;
}

/* MAIN */

main .container {
    display: block;
}

.cells {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
}

.grid {
	overflow: hidden;
}

.cells {
	margin: 0 calc(-1 * var(--gapx) / 2) calc(-1 * var(--gapy));
}

.cell {
	flex-basis: 33.3333%;
	padding: 0 calc(var(--gapx) / 2) var(--gapy);
}

.cell-hero {
	flex-basis: 66.6666%;
}