:root{
	--primary-color: #9792E4;
	--backgroud: #B5DDFF;
	--text-color: black;
    --logo-color: #3982F5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    margin: auto;
    padding: 4rem 0;
    max-width: 800px;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    margin: 2rem 0;
}

h3 {
    margin: 2rem 0;
}

h4 {
    font-weight: bold;
    margin: 1rem 0;
    color: var(--logo-color);
}

.btn {
    border-radius: 9rem;
    padding: .5em 1em;
    width: fit-content;
    height: fit-content
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-blue {
    background-color: var(--logo-color);
    color: white;
    padding: .5rem 3rem;
}

.btn-circle {
    background-color: var(--primary-color);
    aspect-ratio: 1;
    font-size: .8rem;
    color: black;
    border-radius: 50%;
    padding: .8rem;
    width: fit-content;
    margin: auto;
}

main section:nth-child(even) {
    background-color: var(--primary-color);
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0084FD;
    color: white;
    height: 70px;
}

header .container {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu div {
    margin-left: 1.5rem;
}

/* MAIN */

main {
    margin-top: 70px;
}

main .container.grid {
    display: block;
}

.cells {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	overflow: hidden;
}

.cells {
	gap: 2rem 1rem;
}

.cell {
	width: calc((100% - 2 * 1rem) / 3);
}

.cell-hero {
	width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem);
}

.cell.cell-hero .content {
    display: flex;
    text-align: left;
}

.cell.cell-hero i {
    font-size: 1rem;
}

.cell .content {
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--backgroud);
}

.cell .content .text {
    width: 50%;
}

.cell .content .text p {
    margin-bottom: 2rem;
}

.grid .cell .content img {
    width: 50%;
    padding-left: 2rem;
    margin-bottom: -1rem;
}

.logo-content {
    font-size: 3rem;
    color: var(--logo-color);
    margin: 1rem 0 .5rem 0;
}

/* PLANNING */

main .container.planning {
    display: flex;
    align-items: end;
    width: 600px;
}

.planning .cell {
    width: 50%;
}

.planning img {
    width: 80%;
}

.planning .cell {
    color: white;
}

.planning .cells {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.planning .cell .content {
    background-color: white;
    color: black;
    padding: .5rem 1rem 1.5rem 1rem;
    margin: 0 2rem;
    font-style: italic;
}

.planning .content img {
    width: 70%;
}

.planning .content h4 {
    font-style: normal;
    color: black;
}

.planning p {
    padding-bottom: 2rem;
    font-size: .8rem;
}

/* PARTNERS */

main .container.partners {
    display: block;
    text-align: center;
}

.partners h2 {
    color: var(--primary-color);
    font-size: 2rem;
}

.partners .cells {
    display: block;
    margin: 1rem 0;
}

.partners .cell {
    width: 100%;
    margin-bottom: 1rem;
}

.partners .cells .content {
    background-color: var(--primary-color);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    border-radius: 2rem;
}

.partners .cells .content .circle-img img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.partners .cell .content p {
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: left;
}

/* BENEFIT */

.container.benefits {
    display: block;
}

/* ABOUTUS */

.aboutus .aboutus-description {
    width: calc(70% - 1rem);

}

.aboutus .aboutus-image {
    width: calc(30% - 1rem);
}