:root{
	--primary-color: #9792E4;
	--backgroud: #B5DDFF;
	--text-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
    padding: 2rem 0;
    max-width: 1000px;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    margin: 2rem 0;
}

h3 {
    margin: 2rem 0;
}

.btn {
    border-radius: 9rem;
    padding: .5em 1em;
}

.btn-white {
    background-color: white;
    color: black;
}

main section:nth-child(even) {
    background-color: var(--primary-color);
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0084FD;
    color: white;
    height: 70px;
}

header .container {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu div {
    margin-left: 1.5rem;
}

/* MAIN */

main {
    margin-top: 70px;
}

main .container.grid {
    display: block;
}

.cells {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	overflow: hidden;
}

.cells {
	gap: 2rem 1rem;
}

.cell {
	flex-basis: calc((100% - 2 * 1rem) / 3);
}

.cell-hero {
	flex-basis: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem);
}

.content {
    border-radius: 1rem;
}

main .container.planning {
    width: 600px;
}

.planning img {
    width: 100%;
}

.planning .cells {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

main .container.partners {
    display: block;
    text-align: center;
}

.partners .cells {
    display: block;
    margin: 1rem 0;
}

.partners .cells .content{
    border-radius: 2rem;
}

.container.benefits {
    display: block;
}

.aboutus .aboutus-description {
    width: calc(70% - 1rem);

}

.aboutus .aboutus-image {
    width: calc(30% - 1rem);
}